<!DOCTYPE html>
<html>
<head>
<title>仓库入出库单</title>
<#include "/header.html">
</head>
<body>
<div id="familyApp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
		  <a class="btn btn-default" @click="reload"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;刷新</a>
		  <a class="btn btn-default" @click="query"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询</a>
			<#if shiro.hasPermission("wmstransferorder:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("wmstransferorder:update")>
            <a class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("wmstransferorder:delete")>
            <a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
							<div class="form-group">
			   	<div class="col-sm-2 control-label">转储单编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.toId" placeholder="转储单编号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">转储单日期</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.toDate" placeholder="转储单日期"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">转储单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.toNo" placeholder="转储单号"/>
			    </div>
			</div>
													<div class="form-group">
			   	<div class="col-sm-2 control-label">来源仓库</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.sourWarehouseCode" placeholder="来源仓库"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">目标仓库</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.destWarehouseCode" placeholder="目标仓库"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.dataStatus" placeholder="状态"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建用户</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.creatorId" placeholder="创建用户"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.createDate" placeholder="创建时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改用户</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.modifierId" placeholder="修改用户"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrder.modifyDate" placeholder="修改时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div>
			  <a class="btn btn-warning" @click="saveOrUpdate"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;确定</a>
              &nbsp;&nbsp;
              <a class="btn btn-info" @click="reload"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;返回</a>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/wms/wmstransferorder.js?_${.now?long}"></script>
</body>
</html>