<!DOCTYPE html>
<html>
<head>
<title>采购入库单</title>
<#include "/header.html">
<!--<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">-->
<!--<link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">-->
<!--<script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>-->
</head>
<div>
<div id="familyApp" v-cloak  >
	<div v-show="!showRow">
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-1 col-md-2">
				<input type="date" class="form-control" v-model="q.toDate" @keyup.enter="toNo.focus()" placeholder="采购日期">
			</div>
			<div class="form-group col-sm-1 col-md-2">
				<input type="text" class="form-control" v-model="q.toNo" @keyup.enter="vm.query" id="toNo" placeholder="采购入库单号">
			</div>

		  <a class="btn btn-default" @click="query"><i class="fa fa-search" aria-hidden="true"  id="query"></i>&nbsp;查询</a>
			<#if shiro.hasPermission("wmstransferorderpur:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
		<#if shiro.hasPermission("wmstransferorderpur:save")>
		<a class="btn btn-primary" @click="showRowList"><i class="fa fa-trash-o"></i>&nbsp;明细</a>
		</#if>
			<#if shiro.hasPermission("wmstransferorderpur:update")>
            <a class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("wmstransferorderpur:delete")>
            <a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>

		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
</div>

    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">

			 <div class="form-group">
			   	<div class="col-sm-2 control-label">采购单日期</div>
			   	<div class="col-sm-10">
			      <input type="date" class="form-control" v-model="wmsTransferOrderPur.toDate" placeholder="采购单日期":disabled="!addNew"/>
			    </div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">入库仓库</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" style="cursor:pointer;" v-model="wmsTransferOrderPur.warehouseName" @click="whTree" readonly="readonly" placeholder="采购入库仓库"/>
				</div>
			</div>

						 <div class="form-group">
			   	<div class="col-sm-2 control-label">供应商代码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrderPur.supplierCode" placeholder="供应商代码"/>
			    </div>
			</div>

						 <div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrderPur.remark" placeholder="备注"/>
			    </div>
			</div>

			<div v-if="!addNew" class="form-group">
				<div class="col-sm-2 control-label">采购单号</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="wmsTransferOrderPur.toNo" placeholder="采购单号" readonly="true" :disabled="true"/>
				</div>
			</div>

							<div class="form-group">
				<div class="col-sm-2 control-label"></div>
			  <a class="btn btn-warning" @click="saveOrUpdate"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;确定</a>
              &nbsp;&nbsp;
              <a class="btn btn-info" @click="reload"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;返回</a>
			</div>
		</form>
	</div>
</div>



<div v-show="showRow">
	<div v-show="!showSn">
	<h4>采购入库单明细</h4>
	<div class="grid-btn">
		<div class="col-sm-2">
			<input type="text" class="form-control" v-model="wmsTransferOrderPurRow.toNo" placeholder="采购单号" readonly="true"/>
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" v-model="wmsTransferOrderPurRow.warehouseName" placeholder="仓库" readonly="true"/>
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" v-model="wmsTransferOrderPurRow.supplierName" placeholder="供应商" readonly="true"/>
		</div>
		<a class="btn btn-primary" @click="backToPur"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;返回</a>
		<!--<a class="btn btn-primary" @click="reloadRow"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;刷新</a>-->
	<#if shiro.hasPermission("wmstransferorderpur:save")>
	<a class="btn btn-primary" @click="addRow"><i class="fa fa-plus"></i>&nbsp;新增</a>
</#if>
<#if shiro.hasPermission("wmstransferorderpur:delete")>
<a class="btn btn-danger" @click="delRow"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
</#if>
<#if shiro.hasPermission("wmstransferordersn:save")>
<a class="btn btn-primary" @click="showSnList"><i class="fa fa-plus"></i>&nbsp;串号维护</a>
</#if>

</div>
	<table id="jqGridRow"></table>
	<div id="jqGridPagerRow"></div>

	<div id="addRowLayer" style="display: none;">

		<!--<div class="panel-heading">{{title}}</div>-->
		<div class="row">
			<div class="col-md-6 ">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">采购日期</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-model="wmsTransferOrderPurRow.toDate" placeholder="采购日期" readonly="true"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">采购单号</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-model="wmsTransferOrderPurRow.toNo" placeholder="采购单号" readonly="true"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">仓库</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-model="wmsTransferOrderPurRow.warehouseName" placeholder="仓库" readonly="true"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">供应商</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-model="wmsTransferOrderPurRow.supplierName" placeholder="供应商" readonly="true"/>
				</div>
			</div>

		</form>
			</div>

			<div class="col-md-6 ">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-2 control-label">商品代码</div>
						<div class="col-sm-4">
							<input type="text" id="materialCodeRow" class="form-control" v-model="wmsTransferOrderPurRow.materialCode" @keyup.enter="unitPrice.focus()" placeholder="商品代码"/>
						</div>
					</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">单价</div>
				<div class="col-sm-4">
					<input type="number" class="form-control" v-model="wmsTransferOrderPurRow.unitPrice" id="unitPrice" @keyup.enter="qty.focus()" placeholder="单价"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">数量</div>
				<div class="col-sm-4">
					<input type="number" class="form-control" v-model="wmsTransferOrderPurRow.qty" id="qty" @keyup.enter="remark.focus()" placeholder="数量"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">备注</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-model="wmsTransferOrderPurRow.remark" id="remark" @keyup.enter="engineer.focus()" placeholder="备注"/>
				</div>
			</div>

					<div class="form-group">
						<div class="col-sm-2 control-label">所属工程师</div>
						<div class="col-sm-4">
							<select class="form-control" v-model="wmsTransferOrderPurRow.engineer" id="engineer">
								<optgroup label="所属工程师">
									<!--<option value="1">正常</option>-->
									<!--<option value="0">禁用</option>-->
									<option v-for="option in engineers" v-bind:value="option.userId">
										{{ option.username }}
									</option>
								</optgroup>
							</select>
						</div>
					</div>

			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<a class="btn btn-warning" @click="saveOrUpdateRow"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;保存并继续添加</a>

			</div>
		</form>
			</div>
	</div>
	</div>
</div>

<div v-show="showSn" id="addSnLayer" style="display: none;">

	<div class="row">
		<div class="col-md-8">
			<table id="jqGridSn"></table>
			<div id="jqGridPagerSn"></div>
		</div>

		<div class="col-md-2">
			<form class="form-horizontal">
				<a class="btn btn-primary" @click="backToRow"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;返回</a>

				<#if shiro.hasPermission("wmstransferordersn:delete")>
				<a class="btn btn-danger" @click="delSn"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>

			<div class="form-group">
				<div class="col-sm-2 control-label">单据日期</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-model="wmsTransferOrderSn.toDate" placeholder="单据日期" disabled="true"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">单据号</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-model="wmsTransferOrderSn.toNo" placeholder="单据号" disabled="true"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">序号</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-model="wmsTransferOrderSn.toSeq" placeholder="序号" disabled="true"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">商品代码</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-model="wmsTransferOrderSn.materialCode" placeholder="商品代码" disabled="true"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">串号</div>
				<div class="col-sm-4">
					<input id="materialSn" type="text" class="form-control" v-model="wmsTransferOrderSn.materialSn" placeholder="串号"/>
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<#if shiro.hasPermission("wmstransferordersn:save")>
				<a class="btn btn-warning" @click="saveOrUpdateSn"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;保存并继续添加</a>
			</#if>
		</div>
		</form>
	</div>

</div>
</div>

</div>

<!-- 选择仓库 -->
<div id="whLayer" style="display: none;padding:10px;">
	<ul id="whTree" class="ztree"></ul>
</div>
<!-- 选择工程师 -->
<div id="engineerLayer" style="display: none;padding:10px;">
	<ul id="engineerTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/pur/wmstransferorderpur.js?_${.now?long}"></script>
</body>
</html>