<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--<link href="https://cdn.bootcss.com/jqgrid/4.6.0/css/ui.jqgrid.css" rel="stylesheet">-->
<link href="https://cdn.bootcss.com/zTree.v3/3.5.29/css/metroStyle/metroStyle.css" rel="stylesheet">

<!--<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">-->
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<!--<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">-->
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/family.css">

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.8/vue.min.js"></script>
<script src="https://cdn.bootcss.com/jqgrid/4.6.0/js/i18n/grid.locale-cn.js"></script>
<!--<script src="https://cdn.bootcss.com/jqgrid/4.6.0/js/jquery.jqGrid.min.js"></script>-->
<script src="https://cdn.bootcss.com/zTree.v3/3.5.29/js/jquery.ztree.all.min.js"></script>

<!--<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>-->
<!--<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/libs/vue.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>-->
<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<!--<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>-->

<script src="${request.contextPath}/statics/js/common.js"></script>
<script src="${request.contextPath}/statics/js/pub.js"></script>
<script src="${request.contextPath}/statics/libs/family.js"></script>