<!DOCTYPE html>
<html>
<head>
	<title>物料类型</title>
	<#include "/header.html">
		</head>
<body>
<div id="familyApp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2 col-md-2">
				<input type="text" class="form-control" v-model="q.materialTypeDesc" @keyup.enter="isEnabled.focus()" placeholder="货品类别名称">
			</div>
			<div class="form-group col-sm-1 col-md-2">
				<select class="form-control" v-model="q.isEnabled" id="isEnabled">
					<option value="">状态 请选择...</option>
					<optgroup label="状态">
						<option value="">全部</option>
						<option value="1">正常</option>
						<option value="0">禁用</option>
					</optgroup>
				</select>
			</div>
			<a class="btn btn-default" @click="query"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询</a>
			<#if shiro.hasPermission("pubmaterialtype:save")>
				<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("pubmaterialtype:update")>
				<a class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("pubmaterialtype:delete")>
				<a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;禁用</a>
			</#if>
		</div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" :disabled="!addNew">
			<div class="form-group">
				<div class="col-sm-2 control-label">物料类型代码</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="pubMaterialType.materialTypeCode" placeholder="物料类型代码" :disabled="!addNew"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">物料类型名称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="pubMaterialType.materialTypeDesc" placeholder="物料类型名称"/>
				</div>
			</div>
			<div v-if="!addNew" class="form-group">
				<div class="col-sm-2 control-label">状态</div>
				<div class="col-sm-10">
					<select class="form-control" v-model="pubMaterialType.isEnabled">
						<optgroup label="状态">
							<option value="1">正常</option>
							<option value="0">禁用</option>
						</optgroup>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<a class="btn btn-warning" @click="saveOrUpdate"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;确定</a>
				&nbsp;&nbsp;
				<a class="btn btn-info" @click="reload"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;返回</a>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/pub/pubmaterialtype.js?_${.now?long}"></script>
</body>
</html>