<!DOCTYPE html>
<html>
<head>
	<title>商品</title>
	<#include "/header.html">
		</head>
<body>
<div id="familyApp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-1 col-md-2">
				<input type="text" class="form-control" v-model="q.materialCode" @keyup.enter="isEnabled.focus()" placeholder="货品代码">
			</div>
			<div class="form-group col-sm-1 col-md-2">
				<input type="text" class="form-control" v-model="q.materialDesc" @keyup.enter="isEnabled.focus()" placeholder="货品名称">
			</div>

			<div class="form-group col-sm-1 col-md-2">
				<select class="form-control" v-model="q.isEnabled" id="isEnabled">
					<option value="">状态 请选择...</option>
					<optgroup label="状态">
						<option value="">全部</option>
						<option value="1">正常</option>
						<option value="0">禁用</option>
					</optgroup>
				</select>
			</div>
			<a class="btn btn-default" @click="query"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询</a>

			<#if shiro.hasPermission("pubmaterial:save")>
				<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("pubmaterial:update")>
				<a class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("pubmaterial:delete")>
				<a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;禁用</a>
			</#if>
		</div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form>
			<div class="row">
				<div class="col-md-6 ">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-2 control-label">商品代码</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" v-model="pubMaterial.materialCode" placeholder="商品代码" :disabled="!addNew"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">商品名称</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" v-model="pubMaterial.materialDesc" placeholder="商品名称"/>
							</div>
						</div>
						<!--<div class="form-group">-->
							<!--<div class="col-sm-2 control-label">商品类型</div>-->
							<!--<div class="col-sm-10">-->
								<!--<input type="text" class="form-control" v-model="pubMaterial.materialTypeCode" placeholder="商品类型"/>-->
							<!--</div>-->
						<!--</div>-->

						<div class="form-group">
							<div class="col-sm-2 control-label">商品类型</div>
							<div class="col-sm-10">
								<select class="form-control" v-model="pubMaterial.materialTypeCode">
									<optgroup label="商品类型">
										<!--<option value="1">正常</option>-->
										<!--<option value="0">禁用</option>-->
										<option v-for="option in pubMaterialType" v-bind:value="option.materialTypeCode">
											{{ option.materialTypeDesc }}
										</option>
									</optgroup>
								</select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-2 control-label">品牌</div>
							<div class="col-sm-10">
								<select class="form-control" v-model="pubMaterial.brandId">
									<optgroup label="品牌">
										<!--<option value="1">正常</option>-->
										<!--<option value="0">禁用</option>-->
										<option v-for="option in pubBrand" v-bind:value="option.brandId">
											{{ option.brandName }}
										</option>
									</optgroup>
								</select>
							</div>
						</div>


					</div>
				</div>
				<div class="col-md-6 ">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-2 control-label">条码</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" v-model="pubMaterial.barcode" placeholder="条码"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">库存单位</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" v-model="pubMaterial.inventoryUnit" placeholder="库存单位"/>
							</div>
						</div>
						<!--<div class="form-group">-->
						<!--<div class="col-sm-2 control-label">采购单位</div>-->
						<!--<div class="col-sm-10">-->
						<!--<input type="text" class="form-control" v-model="pubMaterial.purchaseUnit" placeholder="采购单位"/>-->
						<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
						<!--<div class="col-sm-2 control-label">销售单位</div>-->
						<!--<div class="col-sm-10">-->
						<!--<input type="text" class="form-control" v-model="pubMaterial.saleUnit" placeholder="销售单位"/>-->
						<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<div class="col-sm-2 control-label">采购库存单位转换比</div>-->
							<!--<div class="col-sm-10">-->
								<!--<input type="text" class="form-control" v-model="pubMaterial.purchaseToInventory" placeholder="采购库存单位转换比"/>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<div class="col-sm-2 control-label">销售库存单位转换比</div>-->
							<!--<div class="col-sm-10">-->
								<!--<input type="text" class="form-control" v-model="pubMaterial.saleToInventory" placeholder="销售库存单位转换比"/>-->
							<!--</div>-->
						<!--</div>-->
						<div class="form-group">
							<div class="col-sm-2 control-label">采购指导单价</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" v-model="pubMaterial.guidanceUnitPrice" placeholder="指导单价"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">税率</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" v-model="pubMaterial.taxRate" placeholder="税率"/>
							</div>
						</div>
						<div v-if="!addNew" class="form-group">
							<div class="col-sm-2 control-label">状态</div>
							<div class="col-sm-10">
								<select class="form-control" v-model="pubMaterial.isEnabled">
									<optgroup label="状态">
										<option value="1">正常</option>
										<option value="0">禁用</option>
									</optgroup>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<a class="btn btn-warning" @click="saveOrUpdate"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;确定</a>
				&nbsp;&nbsp;
				<a class="btn btn-info" @click="reload"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;返回</a>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/pub/pubmaterial.js?_${.now?long}"></script>
</body>
</html>