<!DOCTYPE html>
<html>
<head>
<title>销售出库</title>
<#include "/header.html">
</head>
<body>
<div id="familyApp" v-cloak>
	<div v-show="!showRow">
	<div v-show="showList">
		<div class="grid-btn">
		  <a class="btn btn-default" @click="query"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询</a>
			<#if shiro.hasPermission("wmstransferordersal:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
		<#if shiro.hasPermission("wmstransferordersal:save")>
		<a class="btn btn-primary" @click="showRowList"><i class="fa fa-trash-o"></i>&nbsp;明细</a>
			</#if>
			<#if shiro.hasPermission("wmstransferordersal:update")>
            <a class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("wmstransferordersal:delete")>
            <a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;作废</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">销售日期</div>
			   	<div class="col-sm-10">
			      <input type="date" class="form-control" v-model="wmsTransferOrderSal.toDate" placeholder="销售日期"/>
			    </div>
			</div>

									<div class="form-group">
			   	<div class="col-sm-2 control-label">仓库代码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrderSal.warehouseCode" placeholder="仓库代码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">客户代码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="wmsTransferOrderSal.customerCode" placeholder="客户代码"/>
			    </div>
			</div>
			<div  v-if="!addNew" class="form-group">
				<div class="col-sm-2 control-label">销售单号</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="wmsTransferOrderSal.toNo" placeholder="销售单号"  readonly="true" :disabled="true"/>
				</div>
			</div>

							<div class="form-group">
				<div class="col-sm-2 control-label"></div>
			  <a class="btn btn-warning" @click="saveOrUpdate"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;确定</a>
              &nbsp;&nbsp;
              <a class="btn btn-info" @click="reload"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;返回</a>
			</div>
		</form>
	</div>
</div>

	<div v-show="showRow">
		<h4>销售出库单明细</h4>
		<div class="grid-btn">
			<div class="col-sm-2">
				<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.toNo" placeholder="销售单号" readonly="true"/>
			</div>
			<div class="col-sm-2">
				<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.warehouseName" placeholder="仓库" readonly="true"/>
			</div>
			<div class="col-sm-2">
				<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.customerName" placeholder="客户"  readonly="true"/>
			</div>
			<a class="btn btn-primary" @click="backToSal"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;返回</a>
			<#if shiro.hasPermission("wmstransferordersal:save")>
			<a class="btn btn-primary" @click="addRow"><i class="fa fa-plus"></i>&nbsp;新增</a>
		</#if>
		<#if shiro.hasPermission("wmstransferordersal:delete")>
		<a class="btn btn-danger" @click="delRow"><i class="fa fa-trash-o"></i>&nbsp;作废</a>
	</#if>
		</div>
<table id="jqGridRow"></table>
<div id="jqGridPagerRow"></div>

<div id="addRowLayer" style="display: none;">

	<div class="panel-heading">{{title}}</div>
	<div class="row">
		<div class="col-md-6">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">销售日期</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.toDate" placeholder="销售日期" readonly="true"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">销售单号</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.toNo" placeholder="销售单号" readonly="true"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">仓库代码</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.warehouseName" placeholder="仓库" readonly="true"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">客户代码</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.customerName" placeholder="客户"  readonly="true"/>
					</div>
				</div>

			</form>
		</div>

		<div class="col-md-6">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">商品代码</div>
					<div class="col-sm-4">
						<input id="materialCodeRow" type="text" class="form-control" v-model="wmsTransferOrderSalRow.materialCode" placeholder="商品代码"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">单价</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.unitPrice" placeholder="单价"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">数量</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.qty" placeholder="数量"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">所属工程师</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" v-model="wmsTransferOrderSalRow.engineer" placeholder="所属工程师"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<a class="btn btn-warning" @click="saveOrUpdateRow"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;保存并继续添加</a>
				</div>
			</form>
		</div>

	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/sal/wmstransferordersal.js?_${.now?long}"></script>
</body>
</html>